@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");
#titleManage {
    font-size: 40px;
    font-family: 'Nerko One', sans-serif;
    text-align: center;
}

#spanGreen {
    color: green;
}

#spanYellow {
    color: rgb(255, 187, 0)
}

#spanBlue {
    color: rgba(0, 110, 255, 0.781)
}

.managePage {
    position: relative;
    height: 95vh;
    backdrop-filter: contrast(0.4);
    background: linear-gradient(0.25turn, rgba(128, 128, 128, 0.616), whitesmoke, rgba(128, 128, 128, 0.616));
}

#manageContact {
    display: flex;
    align-items: center;
    margin: auto;
    text-align: center;
    justify-content: space-evenly;
}

.manageButtons {
    font-size: 20px;
    z-index: 1;
    font-weight: 500;
    color: rgb(43, 44, 44);
    background: none;
    margin: 1% 0;
    border: 1px outset white;
}

.manageButtons:hover {
    background-color: rgba(0, 110, 255, 0.781);
}

.footerP {
    font-size: 15px;
    z-index: 1;
    font-weight: 500;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 110, 255, 0.781);
    color: black;
    text-align: center;
}


/*media queris*/

@media only screen and (max-width: 425px) {
    #titleManage {
        font-size: 25px;
        font-family: 'Nerko One', sans-serif;
        text-align: center;
    }
    .manageButtons {
        font-size: 17px;
        z-index: 1;
        font-weight: 500;
        color: black;
        background: none;
        margin: 5px 0;
    }
    #manageContact {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        text-align: center;
        padding-top: 7%;
    }
}

@media only screen and (max-height: 400px) and (max-width: 1000px) {
    #titleManage {
        font-size: 20px;
        font-family: 'Nerko One', sans-serif;
        text-align: center;
    }
}