.modal {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.modal-main {
    position: fixed;
    border: 1px outset white;
    width: 80%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 2% 0;
    background-color: #5c5b5b;
    opacity: 0.9
}

.contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textInputs {
    width: 80%
}


/*numbers*/

.numbersSection {
    margin: 0 auto;
    width: 100%;
}


/*basic number */

#basicNumberInputAndAddButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80.50%;
    margin: 0 auto;
}

.firstNumberInput {
    width: 96%
}

.addNumberInputButton {
    width: 4%;
    padding: 0px;
    align-items: center;
}


/*added number*/

#divForAddedNumberInputsAndButtonsDivs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%
}

.addedNumberInputAndAddButtonDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 80.50%;
}

.addedNumbersInputs {
    width: 96%
}

.addNumberInputButton {
    width: 4%;
    padding: 0px;
    align-items: center;
}

.saveAndOverwriteButtons {
    padding: 0px;
    align-items: center;
    padding: 2px 4px;
}

#closeCreateModalButton {
    width: 50%;
    margin-top: 2%;
}

#handleSaveContact {
    width: 40%;
    margin-top: 2%;
}